/* Global */
html {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;  
} 
h1 {    
    color: rgb(252, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;    
    font-weight: lighter;
    text-shadow: 0px 5px 10px rgb(46, 44, 44);
}
h2, h3 {    
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    font-weight: lighter;
    text-shadow: 0px 2px 1px rgb(35, 100, 126);
}
body {
    margin: 2em;
}
body, input[text], button {
    color: #333;
    font-family: Cambria, Georgia;
}
a {
    cursor: pointer;
}
/* Nav style - start */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #3d3b46;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
  border: 1px solid black;
}
nav a.active {
  color: #000000;
}
/* Nav style - end */

/* common */
* {
  font-family: Arial, Helvetica, sans-serif;
}