<div class="header">
  <h1>Premier League Manager</h1>
  <div class="about-me">
      <p>UOW ID: w1714902</p>
      <p>IIT ID: 2018142</p>
      <p>Name : R.M.T.S.N. Kaduruwewa</p>
      <p>Module : OOP</p>
  </div>
</div>
<div class="nav">
  <nav>
    <a routerLink="/clubs" routerLinkActive="active">Clubs</a>
    <a routerLink="/matches" routerLinkActive="active">Matches</a>
    <a routerLink="/generate-match" routerLinkActive="active">Generate Match</a>
  </nav>
</div>
<div class="application-body">
  <router-outlet></router-outlet>
</div>
